# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# production
dist
.output
.vinxi

# misc
.DS_Store
*.pem

# local
*.local

# env files (can opt-in for committing if needed)
.env*
!.env.example

# database
db.sqlite
/drizzle

# vscode
.vscode/*
!.vscode/settings.json
